<nav class="navbar navbar-expand-md navbar-dark fadeIn">
  <a class="navbar-brand" routerLink="landing-lg" routerLinkActive="active"><img class="iconSize"
      src="assets/Background-Icon-Logo/witcherIcon.png" alt="Witcher Icon"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav navbar-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="About-Founders" routerLinkActive="active">Founders<span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Witcher-Series" routerLinkActive="active">The Witcher 3: The Wild Hunt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Cyberpunk-2077" routerLinkActive="active">Cyberpunk 2077</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="CDPR-History" routerLinkActive="active">CDPR History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Artwork-And-Screenshots" routerLinkActive="active">Artwork/Screenshots</a>
      </li>
    </ul>
  </div>
</nav>
