<div class="fadeIn">
  <div class="row">
    <div class="col">
      <img class="img-fluid" src="assets/HeroImage/Cyberpunk.jpg" alt="Cyperpunk 2077 Hero Image">
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <p><b>Cyberpunk <b>2077</b></b> is an upcoming role-playing video game developed and published by CD Projekt, 
          releasing for Microsoft Windows, PlayStation 4, and Xbox One. Adapted from the 1988 tabletop game 
          Cyberpunk 2020, it is set fifty-seven years later in dystopian Night City, California, an open world 
          with six distinct regions. In a first-person perspective, players assume the role of the customisable 
          mercenary V, who can reach prominence in three character classes by applying experience points to 
          stat upgrades. V has an arsenal of ranged weapons and options for melee combat.</p>
        <p><b>Cyberpunk <b>2077</b></b> is being developed by CD Projekt Red, an internal studio within CD Projekt, using the 
          REDengine 4 game engine. They launched a new division in Wrocław and partnered with Digital Scapes to 
          assist production. Over 400 development staff members were working on the game as of early 2019, 
          exceeding the number that worked on The Witcher 3: Wild Hunt.</p>
        <p><b>Cyberpunk <b>2077</b></b> entered pre-production as soon as developer CD Projekt Red had finished The Witcher 3: 
          Wild Hunt – Blood and Wine. Around this time, approximately fifty staff members were involved; 
          they later devoted a team larger than that of The Witcher 3: Wild Hunt, and after it was released, 
          began upgrading their REDengine 3 to complement Cyberpunk 2077. They learned early on how aspects 
          like stream processing and global illumination would function without disturbing the central processing 
          unit. CD Projekt Red was granted subventions of US$7 million by the Polish government, whose funding 
          application confirmed they were using REDengine 4. In June 2017, early designs were stolen and 
          threatened to be released to the public, but the developer refused to comply with the ransom demand.
          The development reportedly reached a milestone in late 2017, and in March 2018, a new studio was 
          opened in Wrocław to aid the production. That July, nearly 350 employees were developing it, 
          and by the following month, the story was fully realised and could facilitate a complete playthrough.
          In October 2018, CD Projekt Red announced the establishment of a long-term partnership with Canadian 
          studio Digital Scapes to craft additional technology for Cyberpunk 2077. By early 2019, the staff 
          exceeded 400.</p>
      </div>
    </div>
  </div>
</div>