<div class="fadeIn">
  <div class="row">
    <div class="col">
      <img src="assets/HeroImage/Witcher3.jpg"
        alt="The Witcher 3: The Wild Hunt Hero Image">
    </div>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <p><b>The Witcher <a>III</a> Wild Hunt</b> is a 2015 action role-playing game developed and published by CD Projekt. Based
          on The Witcher series of fantasy novels by Polish author Andrzej Sapkowski, it is the sequel to the 2011 game
          <b>The Witcher <a>II</a> Assassins of Kings</b>. Played in an open world with a third-person perspective, players control
          protagonist Geralt of Rivia, a monster hunter known as a witcher, who is looking for his missing adopted
          daughter on the run from the Wild Hunt: an otherworldly force determined to capture and use her powers.
          Players battle the game's many dangers with weapons and magic, interact with non-player characters, and
          complete main-story and side quests to acquire experience points and gold, which are used to increase Geralt's
          abilities and purchase equipment. Its central story has several endings, determined by the player's choices at
          certain points in the game.</p>

        <p>Development began in 2011 and lasted for three and a half years. Voice recording took over two and a half
          years. The writing was infused with realistic aspects like moral ambiguity in a deliberate attempt to avoid
          simplification, impart authenticity, and reflect Sapkowski's novels. Central and Northern Europe was the basis
          of the game's world. REDengine 3 enabled the developer to create a complex story without compromising the
          game's open world. The music was composed by Marcin Przybyłowicz and performed by the Brandenburg State
          Orchestra.</p>

        <p><b>The Witcher <a>III</a> Wild Hunt</b> was released worldwide for Microsoft Windows, PlayStation 4, and Xbox One on 19 May
          2015. The game received critical acclaim, with praise for its gameplay, narrative, world design, combat, and
          visuals, although it received minor criticism due to technical issues, most of which were later patched. It
          received numerous Game of the Year awards, and has been cited as one of the greatest video games of all time.
          The game was also a commercial success, shipping nearly ten million copies by March 2016. Two expansions,
          Hearts of Stone and Blood and Wine, were also released to critical acclaim. A Game of the Year edition, with
          the base game, expansions and all downloadable content, was released in August 2016.</p>
      </div>
    </div>
  </div>
</div>