<div class="container fadeIn">
  <div class="row">
    <div class="col">
      <img class="respectableSize" src="assets\Founders\Marcin_Iwinski_02.jpg" alt="Marcin Iwiński Photo">
    </div>
    <div class="col">
      <img class="respectableSize" src="assets\Founders\Michal_Kicinski.jpg" alt="Michał Kiciński Photo">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <h1>Marcin Iwiński and Michał Kiciński</h1>
      <p>
        CD Projekt was founded in May 1994 by Marcin Iwiński and Michał Kiciński. According to Iwiński,
        although he enjoyed playing video games as a child they were scarce in Poland (which was in the
        Soviet Union's sphere of influence at the time). Polish copyright law did not exist and Iwiński,
        in high school, sold cracked copies of Western video games at a Warsaw marketplace. In high
        school Iwiński met Kiciński, who became his business partner; at that time, Kiciński also sold video
        games.
      </p>
      <p>Wanting to conduct business legitimately, Iwiński and Kiciński began importing games from US retailers and were
        the first importers of CD-ROM games. After Poland's transition to a primarily market-based economy in the
        early 90s, they founded their own company. Iwiński and Kiciński founded CD Projekt in the second quarter of
        1994. With only $2,000, they used a friend's flat as a rent-free office.</p>
    </div>
  </div>
</div>