/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(/assets/Background-Icon-Logo/blkGreyBg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

p{
    font-size: 18px;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
}