<div class="container fadeIn">
  <div class="row mt-5">
    <div class="col"></div>
    <div class="col">
      <div>
        <img src="assets/Background-Icon-Logo/PR.png" class="img-fluid">
      </div>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col">
      <p>Enthusiasm for game distribution ebbed, and CD Projekt's founders wondered if the company should 
        continue as a distributor or a game developer after Dark Alliance's cancellation. With the game 
        cancelled and its code owned by CD Projekt, the company planned to use them to develop their first 
        original game. They intended to develop a game series based on Andrzej Sapkowski's Wiedźmin 
        books (which were popular in Poland) and the author accepted the company's development proposal. 
        The franchise rights had been sold to a Polish mobile game studio, but the studio had not worked on 
        anything related to the franchise and CD Projekt acquired the rights to the Wiedźmin franchise. 
        According to Iwiński, he and Kiciński had no idea how to develop a video game at that time.</p>
      <p>To develop the game, the company formed a video-game development studio (CD Projekt Red Sp. z o.o., 
        headed by Sebastian Zieliński) in Łódź on 2002. The studio made a demonstration game, which Adam 
        Badowski called "a piece of crap" in retrospect. The demo was a role-playing game with a top-down 
        perspective, similar to Dark Alliance and Diablo, and used the game engine which powered Mortyr. 
        Iwiński and Kiciński pitched the demo to a number of publishers, without success. The Łódź office 
        closed and the staff, except for Zieliński, moved to the Warsaw headquarters.</p>
      <p>After The Witcher 2 CD Projekt wanted to develop an open-world game of a quality similar to their 
        other games, and the company wanted to add features to avoid criticism that it was Witcher 2.5. 
        They wanted to push the game's graphics boundaries, releasing it only for the PC and eighth-generation 
        consoles. This triggered debate on the team, some of whom wanted to release the game for older consoles 
        to maximise profit. The Witcher 3: Wild Hunt took three-and-a-half years to develop and cost over 
        $81 million. After multiple delays, it was released in May 2015 to critical praise. Wild Hunt 
        was commercially successful, selling six million copies in its first six weeks and giving the studio a 
        profit of 236 million złoty ($62.5 million) in the first half of 2015. The team released 16 free 
        content downloads and two paid expansions, Hearts of Stone and Blood and Wine. CD Projekt released two 
        other The Witcher games: The Witcher Adventure (a board game for PC, iOS and Android) and The Witcher: 
        Battle Arena, a multiplayer online battle arena game for iOS and Android.</p>
    </div>
  </div>
</div>